/* Reset CSS */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}
html{
    font-size: 62.5%;
}

/* End Reset CSS */

// /* Imports */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import "./_colors.scss";

// /* End Imports */

// /* Mixin */

@mixin responsive(){
    @media screen and (max-width: 960px){
        @content;
    }
}

// /* End Mixin */

body{
    font-size: 1.8rem;

    width: 100%;
    height: 100vh;

    background-color: rgb(81, 81, 144);

    font-family: 'Epilogue', sans-serif;
    color: $medium-gray;
}

a{
    color: $medium-gray;
}

header{
    width: 100%;
    
    background-color: $almost-white;

    padding: 10px 20px;
}

.container-nav{
    max-width: 1440px;

    margin: 0 auto;

    font-size: 1.6rem;

    display: grid;
    grid-template: 1fr / 150px 1.5fr 0.5fr;
    grid-template-areas: "logo list btn";
    align-items: center;

    padding: 5px 15px;

    .nav__logo{
        grid-area: logo;
    }

    .nav-list{
        grid-area: list;

        display: flex;
        gap: 40px;
        
        list-style: none;
        
        .dropdown__title{

            &::marker{
                content: "";
            }

            svg{
                margin-left: 5px;

                // &:hover path{
                //     stroke: $almost-black;
                // }

            }

            // &:hover svg path:hover{
            //     stroke: $almost-black;
            // }


            &:hover{
                color: $almost-black;

                transition: .5s ease;

            }

            &:hover .title__path{
                stroke: $almost-black;

                transition: .5s ease;
            }

        }


        .itens-dropdown{
            cursor: pointer;

            position: relative;

            &[open] summary{

                
                color: $almost-black;

                &::after{
                    content: url("./images/icon-arrow-up.svg");
                
                    padding-left: 5px;
                }
            }

            &[open] svg{
                display: none;
            }

            .dropdown-list{
                position: absolute;
                right: 0;

                list-style: none;
                
                font-size: 1.4rem;

                color: $medium-gray;

                background-color: white;

                padding: 20px;

                white-space: nowrap;

                box-shadow: 0px 20px 94px -28px rgba(105,105,105,1);

                margin-top: 12px;

                border-radius: 12px;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 17px;
                

                @mixin listDropdown(){
                    @content;

                    background-position: center;
                    background-repeat: no-repeat;

                    margin-right: 12px;
                    padding: 1px 10px 1px 10px;
                }
                

                .list__item--todo{

                    @include listDropdown(){
                        background-image: url("./images/icon-todo.svg");
                    }

                }
                .list__item--calendar{

                    @include listDropdown(){
                        background-image: url("./images/icon-calendar.svg");
                    }

                }
                .list__item--reminder{
                    
                    @include listDropdown(){
                        background-image: url("./images/icon-reminders.svg");
                    }

                }
                .list__item--planning{

                    @include listDropdown(){
                        background-image: url("./images/icon-planning.svg");
                    }

                }
            }
        }

        .itens__link{
            &:hover{
                color: $almost-black;

                transition: .5s ease;

            }
        }
        
    }

    .nav-btn{
        grid-area: btn;
        justify-self: end;

        display: flex;
        gap: 35px;

        .btn__login{
            background-color: transparent;
            border: none;

            cursor: pointer;

            font-family: 'Epilogue', sans-serif;
            font-size: 1.6rem;

            color: $medium-gray;

            &:hover{
                color: $almost-black;

                transition: .5s ease;
            }
        }

        .btn__register{
            background-color: transparent;

            padding: 10px 17px;

            cursor: pointer;

            border-radius: 13px;
            border: 2px solid $medium-gray;

            font-family: 'Epilogue', sans-serif;
            font-size: 1.6rem;

            color: $medium-gray;

            &:hover{
                color: $almost-black;
                border-color: $almost-black;

                transition: .5s ease;
            }
        }
    }
}