/* Reset CSS */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}
html{
    font-size: 62.5%;
}

/* End Reset CSS */

// /* Imports */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

@import "./_colors.scss";

// /* End Imports */

// /* Mixin */

@mixin responsive(){
    @media screen and (max-width: 960px){
        @content;
    }
}

// /* End Mixin */

body{
    font-size: 1.8rem;

    width: 100%;
    height: 100vh;

    background-color: $almost-white;

    font-family: 'Epilogue', sans-serif;
    color: $medium-gray;
}

a{
    color: $medium-gray;
}

header{
    width: 100%;
    
    background-color: $almost-white;

    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 999;
}

.container-nav{
    max-width: 1440px;

    margin: 0 auto;

    font-size: 1.6rem;

    display: grid;
    grid-template: 1fr / 150px 1.5fr 0.5fr;
    grid-template-areas: "logo list btn";
    align-items: center;

    padding: 5px 15px;

    @include responsive(){
        padding: 10px 5px;
    }

    .nav__logo{
        grid-area: logo;
    }

    .nav-list{
        grid-area: list;

        display: flex;
        gap: 40px;
        
        list-style: none;

        @include responsive(){
            flex-direction: column;
            
            padding: 100px 0px 0px 30px;

            background-color: $almost-white;

            height: 100vh;

            box-shadow: -200px 0px 0px 9999px rgba(20,20,20,0.7);

            width: 100%;
            max-width: 230px;

            position: fixed;
            right: 0;
            top: 0;

            gap: 25px;
        }
        
        .dropdown__title{

            &::marker{
                content: "";
            }

            svg{
                margin-left: 5px;
            }

            &:hover{
                color: $almost-black;

                transition: .5s ease;

            }

            &:hover .title__path{
                stroke: $almost-black;

                transition: .5s ease;
            }

        }


        .itens-dropdown{
            cursor: pointer;

            position: relative;

            &[open] summary{

                
                color: $almost-black;

                &::after{
                    content: url("./images/icon-arrow-up.svg");
                
                    padding-left: 5px;
                }
            }

            &[open] svg{
                display: none;
            }

            .dropdown-list{
                position: absolute;
                right: 0;

                list-style: none;
                
                font-size: 1.4rem;

                color: $medium-gray;

                background-color: white;

                padding: 20px;

                white-space: nowrap;

                box-shadow: 0px 20px 94px -28px rgba(105,105,105,1);

                margin-top: 12px;

                border-radius: 12px;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 17px;

                @include responsive(){
                    position: static;

                    background-color: $almost-white;

                    box-shadow: none;

                    font-size: 1.6rem;

                    gap: 25px;

                    padding: 20px 0px 10px 20px;

                }
                

                @mixin listDropdown(){
                    @content;

                    background-position: center;
                    background-repeat: no-repeat;

                    margin-right: 12px;
                    padding: 1px 10px 1px 10px;
                }
                

                .list__item--todo{

                    @include listDropdown(){
                        background-image: url("./images/icon-todo.svg");
                    }

                }
                .list__item--calendar{

                    @include listDropdown(){
                        background-image: url("./images/icon-calendar.svg");
                    }

                }
                .list__item--reminder{
                    
                    @include listDropdown(){
                        background-image: url("./images/icon-reminders.svg");
                    }

                }
                .list__item--planning{

                    @include listDropdown(){
                        background-image: url("./images/icon-planning.svg");
                    }

                }
            }
        }

        .itens__link{
            &:hover{
                color: $almost-black;

                transition: .5s ease;

            }
        }
        
    }

    .nav-list--hidden{
        @include responsive(){
            display: none;
        }
    }

    .nav-btn{
        grid-area: btn;
        justify-self: end;

        display: flex;
        gap: 35px;

        .btn__login{
            background-color: transparent;
            border: none;

            cursor: pointer;

            font-family: 'Epilogue', sans-serif;
            font-size: 1.6rem;

            color: $medium-gray;

            &:hover{
                color: $almost-black;

                transition: .5s ease;
            }

            @include responsive(){
                display: none;
            }
        }

        .btn__register{
            background-color: transparent;

            padding: 10px 17px;

            cursor: pointer;

            border-radius: 13px;
            border: 2px solid $medium-gray;

            font-family: 'Epilogue', sans-serif;
            font-size: 1.6rem;

            color: $medium-gray;

            &:hover{
                color: $almost-black;
                border-color: $almost-black;

                transition: .5s ease;
            }

            @include responsive(){
                display: none;
            }
        }

        .btn__menu-mobile--open{
            display: none;

            @include responsive(){
                display: block;

                background-image: url("./images/icon-menu.svg");
                background-color: $almost-white;
                background-repeat: no-repeat;
                background-position: center;

                border: none;

                cursor: pointer;

                width: 32px;
                height: 18px;
            }
        }

        .btn__menu-mobile--close{
            display: none;

            @include responsive(){

                display: block;

                background-image: url("./images/icon-close-menu.svg");
                background-color: $almost-white;
                background-repeat: no-repeat;
                background-position: center;

                border: none;

                width: 26px;
                height: 26px;

                z-index: 999;

            }
        }
    }
}

main{
    width: 100%;
    height: 100vh;
}

.container-section{
    max-width: 1440px;
    height: 100%;

    margin: 0 auto;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 1fr / 1fr 1fr;

    @include responsive(){
        grid-template: 420px 1fr / 1fr;
        grid-template-areas:"banner"
                            "call";
        
    }
    

    .section-call{
        display: flex;
        flex-direction: column;
        gap: 150px;

        margin-left: 110px;

        align-self: flex-start;

        @include responsive(){
            grid-area: call;

            margin-left: 0px;

            gap: 40px;

        }

        .call-text{

            margin-top: 55px;

            display: flex;
            flex-direction: column;
            gap: 30px;

            @include responsive(){
                margin-top: 0px;

                margin: 30px 10px;

                text-align: center;
                
                gap: 20px;
            }

            .text__title{
                font-size: 7.8rem;

                max-width: 85%;
    
                color: $almost-black;

                @include responsive(){
                    font-size: 4.2rem;

                    max-width: 100%;

                }
            }
    
            .text__subtitle{
                max-width: 80%;
    
                line-height: 27px;

                @include responsive(){

                    font-size: 1.6rem;

                    max-width: 100%;

                    margin: 0px 45px;

                }
            }
    
            .text__btn{
    
                align-self: flex-start;
    
                padding: 20px 32px;
    
                border-radius: 15px;
    
                font-family: 'Epilogue', sans-serif;
                font-size: 1.8rem;
                font-weight: 700;
                white-space: nowrap;
    
                background-color: $almost-black;
                border: none;
                color: $almost-white;
    
                cursor: pointer;

                @include responsive(){
                    align-self: center;

                    font-size: 1.6rem;

                    padding: 15px 32px;

                    margin-top: 15px;
                
                }
            }

        }

        .call_logos{

            display: flex;
            justify-content: space-between;
            align-items: center;

            @include responsive(){

                margin: 0px 25px;

                .logos__img{
                    width: 75px;
                }
            }
           
        }

        
    }



    .section-banner{

        justify-self: flex-end;

        margin-right: 110px;

        background-image: url("./images/image-hero-desktop.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;

        width: 500px;
        height: 600px;

        @include responsive(){
            width: 100%;
            height: 400px;
            background-size: contain;
            background-position: bottom;
            background-image: url("./images/image-hero-mobile.png");

            justify-self: center;

            margin-right: 0px;
            
        }

    }


}